<div class="col-xs-10">
<div class="panel panel-primary " *ngFor="let employee of employees">
    <diV class="panel-heading">
        <div class="panel-title">{{employee.name}}</div>
    </diV>
        <div class="panel-body">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-4">
                        <img [src]="employee.Photopath"/>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-6"> id</div>
                            <div class="col-xs-6"> {{employee.id}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"> gender:</div>
                            <div class="col-xs-6"> {{employee.gender}}</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6"> email</div>
                            <div class="col-xs-6"> {{employee.email}}</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6"> phoneNumber</div>
                            <div class="col-xs-6"> {{employee.phoneNumber}}</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6"> contactPreferance</div>
                            <div class="col-xs-6"> {{employee.contactPreferance}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"> Dateofbirth</div>
                            <div class="col-xs-6"> {{employee.Dateofbirth}}</div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6"> department</div>
                            <div class="col-xs-6"> {{employee.department}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"> inactive</div>
                            <div class="col-xs-6"> {{employee.inactive}}</div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

</div>

</div>